.readMore {
  display: none;
}

.cost {
  color: var(--text-gray-color);
  font: 17px / 140% var(--font-family-secondary);
  margin: 21px 0 12px;
}

@include media-max-tablet-s {
  .description {
    &.clamp {
      $rows: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $rows;
      overflow: hidden;
      will-change: height;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }
  }

  .readMore {
    display: block;
    margin-top: 10px;
    font: 16px / 140% var(--font-family-secondary);
    color: var(--accent-color);
  }
}