// imported as additionalData in vite config

@function toPercent($part, $from: null) {
  @if($from == null) {
    $from: 1236 // container with padding
  }
  @return calc(($part / $from) * 100%)
}

@mixin scroll-snap {
  scroll-snap-type: x mandatory;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin container {
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
  width: 100%;
  margin: auto;
}

@mixin media-desktop {
  @media (min-width: 1201px) {
    @content
  }
}

@mixin media-max-tablet-s {
  @media (max-width: 1200px) {
    @content
  }
}

@mixin media-max-mobile-s {
  @media (max-width: 767px) {
    @content
  }
}