@use "mixins" as *;
:root {
  --font-family-main: Montserrat, "Arial", sans-serif;
  --font-family-secondary: Jost, "Segoe UI", "Arial", "Helvetica", sans-serif;
  --font-family-third: Forum, "Georgia", "Times New Roman", serif;

  // screens
  --mobile-s: 320px;
  --mobile-m: 375px;
  --mobile-l: 414px;

  --tablet-s: 768px;
  --tablet-m: 834px;
  --tablet-l: 1024px;

  --desktop-s: 1280px;


  // COLORS
  --bg-color: #EEEEEE;
  --bg-color-2: #E3E3E3;
  --bg-dark-color: #050402;
  --bg-card-color: #F5F5F5;
  --accent-color: #BB8C5F;
  --accent-dark-color: #524336;
  --text-light-color: #FAF6F2;
  --text-dark-color: #3E424B;
  --text-gray-color: #636B78;
  --hint-color: #76BC21;
  --purple: #755FBB;
  --red: #C82A2A;
  --green: #5FBBA3;
  --gray: #636B78;
  --gray-2: #D0D0D0;
  --overlay-color: rgba(0, 0, 0, 0.75);

  // FONTS
  // sizes
  --font-size-s: 15px;
  --font-size-m: 17px;
  --font-size-l: 25px;

  // line-height
  --font-line-s: 115%;
  --font-line-m: 140%;
  --font-line-l: 150%;

  // fonts
  --font-m-primary: var(--font-size-m) / var(--font-line-m) var(--font-family-secondary);
  --font-m-secondary: var(--font-size-m) / var(--font-line-l) var(--font-family-secondary);

  --font-l-primary: var(--font-size-l) / var(--font-line-s) var(--font-family-secondary);
  --font-l-secondary: var(--font-size-l) / var(--font-line-m) var(--font-family-secondary);


  // btn
  --font-size-btn: 20px;
  --font-line-btn: 150%;
  --font-btn: var(--font-size-btn) / var(--font-line-btn) var(--font-family-secondary);

  // tag
  --font-size-tag: 15px;
  --font-line-tag: 130%;
  --font-tag: var(--font-size-tag) / var(--font-line-tag) var(--font-family-secondary);

  // SIZE
  --container-padding: 20px;
  --container: 1216px; // 1216px + --container-padding * 2
  --container-max-width: calc(var(--container) + var(--container-padding) + var(--container-padding));

  --nav-btn-size: 50px;
  --nav-btn-margin: 30px;
  --slider-nav-padding: calc(var(--nav-btn-size) + var(--nav-btn-margin) + var(--container-padding));

  --container-slider-nav: calc(var(--container) + (var(--slider-nav-padding) * 2));

  --viewport-width-max: 1920;
  --viewport-height-max: 1259;

  // SPACES
  --space-s: 10px;
  --space-m: 20px;
  --space-l: 30px;

  --card-padding: 30px;

  // animations
  --delay: 0.3s;

  // slider
  --slider-btn-size: 50px;

  // z-index
  --select-z-index: 9999;

  --overlay-z-index: 99999999;
  --modal-z-index: 99999999999;
  --modal-content-z-index: 9999999999999;

  // modal
  --modal-y-shift: -75.2%;
}

@include media-max-mobile-s {
  :root {
    // FONTS
    --font-m-primary: var(--font-size-s) / var(--font-line-m) var(--font-family-secondary);
    --font-l-primary: var(--font-size-m) / var(--font-line-s) var(--font-family-secondary);
  }
}

@media (min-height: 400px) and (min-width: 1000px) {
  :root {
    --modal-y-shift: -55%;
  }
}
