.swiper-custom-bullet {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--accent-dark-color);
  padding: 3px;

  &:before {
    display: block;
    content: "";

    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.8s ease;
  }

  &.swiper-custom-bullet-active {
    &:before {
      background-color: var(--accent-color);
    }
  }
}

.swiper-custom-bullet-mini {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    display: block;
    content: "";

    width: 6px;
    height: 6px;
    border: 1px solid var(--bg-color-2);
    background-color: transparent;
    transition: background-color 0.7s ease;
  }


  &.swiper-custom-bullet-mini-active:before {
    $color: var(--accent-dark-color);
    border-color: $color;
    background-color: $color;
  }
}

.swiper-bullets-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: auto;
  width: fit-content;

  &.mini {
    gap: 0;
  }

  &.outside {
    margin-top: 48px;

    @include media-max-mobile-s {
      margin-top: 30px;
    }
  }
}

$btn-size: 50px;
$btn-space: 30px;
$container-padding: $btn-size + $btn-space;

.swiper-container-with-btns {
  width: 100%;
  max-width: calc(var(--container-max-width) + $btn-size * 2 + $btn-space * 2);
  padding: 0 calc($container-padding + var(--container-padding));
  position: relative;
}


.swiper-btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.swiper-btn {
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

.swiper-btns-container-2 {
  pointer-events: none;
  padding: 0 var(--container-padding);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    pointer-events: auto;
  }
}