.categoriesPage {
  padding-top: 50px;
  padding-bottom: 178px;
}

.title {
  margin-top: 30px;
}

.filterToolbar {
  margin: toRem(40) 0 toRem(16);
}

.resetFilters {
  margin-bottom: toRem(28);
}

.seeMore {
  margin: 40px auto 0 auto;
}