.pageWrapper {
  background: linear-gradient(180deg, #f7f5f2 0%, #f2efeb 100%);
  min-height: 100vh;
}

.categoriesPage {
  padding-top: toRem(50);
  padding-bottom: toRem(178);
}

.title {
  margin-top: toRem(30);
  font-size: clamp(#{toRem(25)}, 1rem + 3.5vw, #{toRem(64)});
  font-weight: 400;
  color: #1d1d1d;
}

.filterToolbar {
  margin: toRem(40) 0 toRem(16);
}

.resetFilters {
  margin-bottom: toRem(28);
}

.seeMore {
  margin: toRem(40) auto 0 auto;
}
