.gridTable {
  font: 15px / 140% var(--font-family-secondary);

  display: grid;
  align-items: center;
  grid-template-columns: 14% 1fr repeat(4, auto);
  column-gap: 6.87%;
  row-gap: 20px;
}

.gridHeader {
  position: sticky;
  top: 0;
}

.nameHeader,
.totalHeader {
  grid-column: span 2;
}

.decorator {
  position: sticky;
  top: 40px;
  grid-column: 1 / -1;
}

.delete {
  transform: rotate(-45deg);
  padding: 10px;
}

.readOnly {
  &.gridTable {
    grid-template-columns: repeat(6, 1fr);
  }

  .nameHeader {
    grid-column: span 3;
  }

  .totalHeader {
    grid-column: span 1;
  }

  :global {
    .cartTitle {
      grid-column: span 2;
    }
  }
}
