.content {
  padding: toRem(40) toRem(44);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: toRem(15);
  margin: auto;
  position: relative;

  form > label {
    margin: toRem(8) 0;
  }
}

.loader, .error {
  background-color: inherit;
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.error > .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}
