$font-m: 17px / 150% var(--font-family-secondary);

.personalDataCard {
  padding: 40px;
  background: var(--bg-card-color);
}

.general {
  display: flex;
  gap: 4.33%;
  margin-bottom: 42px;

  .img {
    width: 42.34%;
    aspect-ratio: 1 / 1;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .managerTitle {
    font: $font-m;
  }

  .name {
    font: 20px / 150% var(--font-family-secondary);
    font-weight: 700;
    flex: 1;
  }
}

.email {
  margin-top: 30px;
}


.additionalInfo {
  font: $font-m;
  margin-top: 25px;
}