$font-m: #{toRem(16)} / 150% var(--font-family-secondary);

.personalDataCard {
  padding: toRem(32);
  background: var(--bg-card-color);
  border: 1px solid var(--card-border-color);
}

.general {
  display: flex;
  gap: 4.33%;
  margin-bottom: toRem(32);

  .img {
    width: 42.34%;
    aspect-ratio: 1 / 1;

    img {
      border-radius: 50%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .managerTitle {
    font: $font-m;
  }

  .name {
    font: #{toRem(20)} / 150% var(--font-family-secondary);
    font-weight: 700;
    flex: 1;
  }
}

.email {
  margin-top: toRem(24);
}


.additionalInfo {
  font: $font-m;
  margin-top: toRem(20);
}
