@mixin border-main{
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}
.btn {
  $transition: .5s;

  @include border-main;
  color: var(--accent-color);
  display: block;
  position: relative;
  padding: 8px 17px 12px;
  transition: $transition;
  font: var(--font-btn);
  width: fit-content;

  font: 20px / 150% var(--font-family-secondary);

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.big {
    padding-top: 18px;
    padding-bottom: 22px;
    min-width: 270px;
    text-align: center;
  }

  &.full {
    width: 100%;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    @include border-main;
    width: 16px;
    height: 16px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transition: $transition;
  }

  &:before {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(-45deg) skew(15deg, 15deg);
  }

  &:after {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(-45deg) skew(15deg, 15deg) scale(-1);
  }

  &:hover, &:hover:before, &:hover:after,
  &.dark:hover, &.dark:hover:before, &.dark:hover:after{
    background-color: var(--accent-color);
    color: var(--text-light-color);
  }

  &.dark {
    color: var(--text-light-color);
    background-color: var(--accent-dark-color);

    &:before, &:after {
      background-color: var(--accent-dark-color);
    }
  }

  &.withMargin {
    margin-left: 11px;
    margin-right: 11px;
  }
}