.input {
  border: 1.5px solid var(--gray);
}

.inputWrapper {
  margin-bottom: 15px;
  font: 17px / 140% var(--font-family-secondary);
}

.discount {
  margin-bottom: 8px;
  font: 13px / 140% var(--font-family-secondary);
  color: var(--green);
}

.cancelLink {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  opacity: 0.7;
}

.link {
  margin-left: auto;
  margin-right: auto;
}
