.formBlock {
  padding-top: 109px;
  padding-bottom: 209px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > *:nth-child(1) {
    margin-right: 29px;
  }

  & > *:nth-child(2) {
    width: 50vw;
  }
}

.text {
  font: var(--font-l-primary);
  font-weight: 500;
  margin: 28px 0 30px;
}

.form {
  max-width: 392px;

  .input {
    &:first-child {
      margin-bottom: 16px;
    }
  }

  .checkbox {
    margin: 20px 0 30px;
  }
}

@include media-max-tablet-s {
  .formBlock {
    & > img {
      display: none;
    }
  }

  .form {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input {
      flex: 0 0 toPercent(353, 728);
      margin-bottom: 30px;
    }

    .checkbox {
      order: 4;
      flex: 0 1 toPercent(388, 728);
      margin: auto;
    }
  }
}

@include media-max-mobile-s {
  .text {
    margin-top: 20px;
  }

  .form {
    display: block;

    .input {
      margin: 0;

      &:first-of-type {
        margin-bottom: 16px;
      }
    }

    .checkbox {
      margin: 20px 0 30px;
    }

    .btn {
      width: 100%;
    }
  }
}