.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  gap: toRem(40);
}

.btn {
  margin-top: var(--space-m);
}