.badge {
  position: absolute;
  top: toRem(16);
  left: toRem(16);
  z-index: 10;
  background-color: var(--accent-dark-color);
  color: var(--text-light-color);
  font: #{toRem(12)} / 130% var(--font-family-secondary);
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: toRem(6) toRem(12);
  border-radius: toRem(8);
  pointer-events: none;
}
