.cardContent {
  padding: 0 var(--card-padding) var(--card-padding);
  display: flex;
  flex-direction: column;
  gap: toRem(8);
}

.title {
  font: #{toRem(16)} / 150% var(--font-family-secondary);
  font-weight: 500;
  flex: 1;
}

.price {
  font: #{toRem(34)} / 130% var(--font-family-heading);
  font-weight: 600;
  color: var(--accent-color);
  letter-spacing: -0.5px;
}

@include media-max-tablet-s {
  .cardContent {
    gap: toRem(6);
  }

  .title {
    font-size: toRem(14);
  }

  .price {
    font-size: toRem(24);
  }
}


@include media-max-mobile-s {
  .cardContent.padding0 {
    padding: 0;
  }
}
