.brandsPage {
  padding-top: 60px;
  padding-bottom: 160px;
}

.brand {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 39px;

  & > img {
    max-width: 270px;
    max-height: 106px;
    object-fit: cover;
  }

  .title {
    font: 60px / 100% var(--font-family-third);
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}
