.input {
  color: var(--text-gray-color);
  display: flex;
  flex-direction: column;
  gap: toRem(9);
  font: #{toRem(16)} / 140% var(--font-family-secondary);

  input::placeholder {
    color: var(--gray-2);
  }

  input {
    background-color: var(--bg-card-color);
    border: 1px solid var(--card-border-color);

    &.withErr {
      border: 1px solid var(--red);
    }
  }

  &.normal {
    input {
      padding: toRem(20) toRem(24);
    }
  }

  &.small {
    input {
      padding: toRem(15) toRem(25);
    }
  }
}
