.profile {
  display: flex;
}

.additional {
  flex: 0 0 toPercent(392);
  margin-left: 20px;
}

.discount {
  font: 25px / 115% var(--font-family-secondary);
  margin-bottom: 30px;

  .amount {
    color: var(--accent-color);
  }
}

@include media-max-tablet-s {
  .withContainer {
    @include container;
  }
}

@include media-max-mobile-s {
  .withContainer.histories {
    @include remove-container;
  }
  .additional {
    display: none;
  }
}