$padding: 30px;
$shadow-left: -4px 4px 6px rgba(0, 0, 0, 0.1);
$shadow-right: 4px -4px 6px rgba(0, 0, 0, 0.1);

@mixin shadow-card {
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1)
}
@mixin shadow-btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

@mixin remove-card-hovering {
  box-shadow: none;
  top: 0;
}

@mixin static-btn {
  position: static;
  padding: 0 $padding 20px;
  margin-top: calc(-1 * ($padding - 16px));
}

.productCard {
  background-color: var(--bg-card-color);
  transition: top 0.7s ease;
  top: 0;
  position: relative;

  &:not(.staticOnAll):hover {
    @include shadow-card;
    top: -5%;
  }
}

.title {
  font: 17px / 140% var(--font-family-secondary);
  margin: 6px 0 10px;
}

.btnWrapper {
  background-color: var(--bg-card-color);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: $padding;
}

.btn {
  margin: auto;
}

@include media-desktop {
  .productCard {
    &:not(.staticOnAll),
    &:not(.staticOnMobile),
    &:not(.staticOnTablet) {
      .btnWrapper {
        position: absolute;
        top: calc(100% - 10px);
        left: 0;
        width: 100%;
        transform: scaleY(0);
        transition: transform 0.7s ease;
        transform-origin: top;
        z-index: 999;
        @include shadow-btn;

        .btn {
          transform: scale(0);
          transition: transform 0.7s ease;
        }

        &.isShown {
          transform: scaleY(1);

          & > .btn {
            transform: scale(1);
          }
        }
      }
    }

    &.staticOnAll .btnWrapper{
      @include static-btn;
    }
  }
}

@include media-max-tablet-s {
  .productCard.staticOnTablet {
    @include remove-card-hovering;

    .btnWrapper{
      @include static-btn;
    }
  }
}

@include media-max-mobile-s {
  .productCard.staticOnMobile {
    @include remove-card-hovering;
    .btnWrapper{
      @include static-btn;
    }
  }
}



