.counter {
  display: flex;
  align-items: center;
  gap: toRem(20);
  width: fit-content;
  max-width: 100%;
}

.input {
  border: 1px solid var(--card-border-color);
  min-width: toRem(56);
  max-width: 70%;
  width: toRem(56);
  height: toRem(56);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: toRem(18);
  padding: toRem(10) toRem(8) toRem(12);
}
