.counter {
  display: flex;
  align-items: center;
  gap: 25px;
  width: fit-content;
  max-width: 100%;
}

.input {
  border: 1px solid var(--accent-color);
  min-width: 40px;
  max-width: 70%;
  width: 40px; // + dynamic change
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7.5px 7px 8.5px;
}