.categoriesPage {
  padding-top: 50px;
  padding-bottom: 178px;
}

.title {
  font: 60px / 100% var(--font-family-third);
  margin-top: 30px;
}

.filterToolbar {
  margin: 40px 0 28px;
}

.seeMore {
  margin: 40px auto 0 auto;
}