.home {
  background: green;
}

.tabs {
  padding: 0 25px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  gap: 20px;
  margin: 37px 0 50px;
}

.seeMore {
  margin: auto;
}