.tabs {
  font: 30px / 115% var(--font-family-secondary);
  font-weight: 700;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 24px;
  @include scroll-snap;
}

.products {
  margin: 37px 0 50px;
}

.seeMore {
  margin: auto;
}