.tabs {
  font: #{clamp(toRem(28), 2vw + 1rem, toRem(42))} / 115% var(--font-family-heading);
  font-weight: 600;
  letter-spacing: -1px;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: toRem(40);
  @include scroll-snap;

  margin-bottom: toRem(50);
}

.seeMore {
  margin: toRem(50) auto 0;
}
