.companyOffice {
  background-color: var(--bg-card-color);
  border: 1px solid var(--card-border-color);
  padding: toRem(40);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: toRem(20);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.phone {
  font: #{clamp(toRem(30), 3vw + 0.5rem, toRem(42))} / 130% var(--font-family-secondary);
  font-weight: 600;
  margin-bottom: toRem(8);
}

.additional {
  font: #{toRem(16)} / 140% var(--font-family-secondary);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: toRem(16);
  align-items: center;
}

.info {
  font: #{toRem(16)} / 150% var(--font-family-secondary);

  &.bold {
    font-weight: 700;
  }

  &:not(:first-of-type) {
    margin-top: var(--space-s);
  }
}

.apps {
  font: #{toRem(20)} / 150% var(--font-family-secondary);

  & > *:first-child {
    color: var(--gray-2);
  }
}

@include media-max-mobile-s {
  .flex {
    flex-direction: column;
    gap: var(--space-m);
  }

  .links {
    align-items: start;
  }

  .phone {
    font-size: toRem(28);
  }

  .additional {
    font-size: toRem(15);
  }

  .apps {
    font-size: toRem(17);
  }

  .info {
    font-size: toRem(15);
  }
}
