.filterButton {
  padding: toRem(10) toRem(20);
  border: 1px solid var(--accent-color);
  border-radius: toRem(24);
  color: var(--accent-color);
  transition: var(--delay) ease;
  text-wrap: nowrap;
  background-color: transparent;

  @media (hover: hover) {
    &:hover {
      color: var(--text-light-color);
      background-color: var(--accent-color);
    }
  }

  &.active {
    color: var(--text-light-color);
    background-color: var(--accent-color);
  }
}