.filterButton {
  padding: 14px 24px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: var(--delay) ease;
  text-wrap: nowrap;


  @media (hover: hover) {
    &:hover {
      color: var(--text-light-color);
      background-color: var(--accent-dark-color);
    }
  }

  &.active {
    color: var(--text-light-color);
    background-color: var(--accent-color);
  }
}