.link {
  font: 25px / 140% var(--font-family-secondary);
  margin-left: auto;
  display: block;
  width: fit-content;
}

.img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sliderDecor {
  position: absolute;
  inset: 0;

  .horizontal {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  .vertical {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
  }
}

@include media-max-tablet-s {
  .link {
    margin-bottom: 38px;
  }
}

@include media-max-mobile-s {
  .link {
    font-size: 15px;
    margin-bottom: 30px;
  }
}