.form {
  margin-top: 60px;
}

.title {
  font: 25px / 115% var(--font-family-secondary);
  font-weight: 900;
  margin-bottom: 30px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.fields > * {
  grid-column: span 3;
}

.submit {
  margin-top: 30px;
}

@include media-max-mobile-s {
  .fields {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }

  .fields > * {
    grid-column: span 1;
  }
}
