.about {
  padding: toRem(140) 0;
  display: flex;
  align-items: center;

  .img {
    width: 50vw;
  }

  .info {
    margin-left: toRem(40);
  }
}

.title {
  color: var(--accent-color);
  font: #{clamp(toRem(25), 2.5vw + 0.5rem, toRem(50))} / 130% var(--font-family-third);
}

.content {
  font: var(--font-m-primary);
  margin: toRem(20) 0;

  &:last-of-type {
    margin-bottom: toRem(40);
  }
}

@include media-max-tablet-s {
  .about {
    max-width: none;
    display: block;
    padding-top: toRem(80);
    padding-bottom: toRem(80);

    .img {
      width: 100%;
      aspect-ratio: 768 / 400;
    }

    .info {
      margin: toRem(40) 0 0;

      @include container;
    }
  }

  .btn {
    margin: toRem(40) auto 0;
    width: toRem(274);
  }
}

@include media-max-mobile-s {
  .about {
    padding-top: toRem(60);
    padding-bottom: toRem(60);

    .info {
      margin-top: toRem(30);
    }
  }

  .btn {
    margin-top: toRem(30);
    width: 100%;
  }
}
