.discountPage {
  padding-top: toRem(50);
  padding-bottom: toRem(178);
}

.title {
  margin-top: toRem(16);
  margin-bottom: toRem(4);
}

.categoryFilters {
  display: flex;
  gap: toRem(12);
  margin-top: toRem(20);
  @include scroll-snap;
}

.filterToolbar {
  margin: toRem(20) 0 toRem(12);
}

.resetFilters {
  margin-bottom: toRem(20);
}

.initialLoader {
  padding: toRem(80) 0;
  display: flex;
  justify-content: center;
}

@include media-max-tablet-s {
  .discountPage {
    padding-top: toRem(30);
    padding-bottom: toRem(160);
  }
}
