.cartPage {
  padding-top: 50px;
  padding-bottom: 160px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 31.7%;
  grid-template-rows: repeat(auto-fill, minmax(0, min-content));
  grid-auto-flow: dense;
  gap: 20px;
  align-items: start;
}

.cart, .form {
  grid-column: 1;
}

.additional {
  grid-column: 2;
  grid-row: 1 / span 2;
}


.title {
  font: 60px / 100% var(--font-family-third);
}