.slide {
  position: relative;

  .actions {
    position: absolute;
    inset: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@include media-max-tablet-s {
  .slide.adaptiveWithCheckbox {
    .actions {
      padding-top: 24px;
    }
  }
}

@include media-max-mobile-s {
  .slide.adaptiveWithCheckbox {
    .actions {
      padding: 0;
    }
  }

  .slide.adaptiveWithTags {
    .actions {
      display: none;
    }
  }
}
