.paragraph {
  &:not(:last-child) {
    margin-bottom: toRem(10);
  }

  &:last-child {
    margin-bottom: toRem(20);
  }
}

.expiry {
  margin-bottom: toRem(34);
  font-size: toRem(13);
  color: var(--hint-color);
}

.empty {
  margin-top: toRem(40);
  font: #{toRem(16)} / 160% var(--font-family-secondary);
  color: var(--hint-color);
  max-width: toRem(560);
}

.cardsGrid {
  @include container;
}

@include media-max-mobile-s {
  .cardsGrid {
    @include remove-container;
  }
}
