.tabs {
  position: relative;
  display: flex;
  padding-bottom: 6px;

  transition: color 0.7s ease;

  &.start {
    justify-content: start;
  }

  &.end {
    justify-content: end;
  }

  &.between {
    justify-content: space-between;
  }

  & > * {
    cursor: pointer;
  }
}

.isActive {
  color: var(--accent-color);
}

.decorator {
  transition:  0.7s ease !important;
}