.card {
  background-color: var(--bg-card-color);
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  aspect-ratio: 392 / 230;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: toRem(22) toRem(40) toRem(40);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font: #{toRem(22)} / 120% var(--font-family-heading);
  font-weight: 600;
}

.body {
  font: #{toRem(15)} / 150% var(--font-family-secondary);
  font-weight: 400;
  margin-top: var(--space-s);
  flex: 1;
}

@include media-max-tablet-s {
  .content {
    padding: var(--card-padding);
  }

  .img {
    aspect-ratio: 354 / 208;
  }

  .title {
    font-size: toRem(20);
  }
}


@include media-max-mobile-s {
  .content {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .img {
    aspect-ratio: 354 / 208;
  }
}
