@mixin footer-padding {
  padding: toRem(60) 0 toRem(50);
}

.footer {
  background-color: var(--bg-dark-color);
}

.content {
  @include container;
  display: grid;
  grid-template-columns: repeat(5, 1fr);


  $padding: 102;
  .linksWrapper {
    @include footer-padding;
    padding-right: calc(($padding / 721) * 100%);
    grid-column: span 3;
    border-right: 1px solid var(--accent-color);

    display: flex;
    justify-content: space-between;
  }

  .contacts {
    @include footer-padding;
    padding-left: calc(($padding / 452) * 100%);
    grid-column: span 2;

    color: var(--text-light-color);
    font: #{toRem(14)} / 150% var(--font-family-secondary);

    & > *:first-child {
      //display: flex;
    }
  }
}

.links {
  color: var(--text-light-color);
  font: #{toRem(14)} / 150% var(--font-family-main);
  display: flex;
  flex-direction: column;
  gap: toRem(12);
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--text-light-color);
  line-height: 150%;
}

.mediaLinks {
  display: inline-flex;
  gap: 12px;
  color: var(--accent-color);
  margin-left: 25px;
}

.workHours {
  color: var(--gray);
  font: #{toRem(12)} / 150% var(--font-family-secondary);
  margin: toRem(8) 0 toRem(16);
}

.linkFull {
  display: inline-flex;
  align-content: center;
  gap: 10px;
}

$block-padding: toRem(40);

@mixin block-spacing {
  @include container;
  padding-top: $block-padding;
  padding-bottom: $block-padding;
}

@include media-max-tablet-s {
  .content {
    @include remove-container;
    display: block;

    .linksWrapper,
    .contacts {
      @include block-spacing;
    }

    .linksWrapper {
      border-bottom: 1px solid var(--accent-color);
      border-right: none;
    }
  }

  .logoWrapper {
    width: 50%;

    img {
      max-width: 266px;
    }
  }
}

@include media-max-mobile-s {
  .content {
    .linksWrapper {
      flex-wrap: wrap;
    }
  }

  .logoWrapper {
    flex: 0 0 100%;
    align-items: center;
    gap: var(--space-m);
    margin-bottom: 40px;

    img {
      max-width: 257px;
    }
  }

  .links {
    font-size: toRem(13);
    margin: 0 auto;
  }
}