.err {
  &.error {
    color: var(--red);
  }

  &.warning {
    color: var(--accent-color);
  }

  &.info {
    color: var(--text-dark-color);
    font-weight: 700;
  }
}

.s {
  font: var(--font-s-primary);
}

.m {
  font: var(--font-m-primary);
}

.l {
  font: var(--font-l-primary);
}