.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  max-width: 340px;
}

.closeBtn {
  position: absolute;
  top: toRem(12);
  right: toRem(12);
}

.title {
  font-size: toRem(22);
}

@include media-max-tablet-s {
  .wrap {
    max-width: 90vw;
  }
}

@include media-max-mobile-s {
  .title {
    font-size: toRem(18);
  }
}

.actions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  font: var(--font-s-primary);
  color: var(--accent-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;

  &:hover {
    color: var(--accent-dark-color);
  }
}
