.input {
  color: var(--text-gray-color);
  display: flex;
  flex-direction: column;
  gap: 9px;
  font: 17px / 140% var(--font-family-secondary);

  textarea::placeholder {
    color: var(--gray-2);
  }

  textarea {
    background-color: var(--bg-card-color);
    min-height: 120px;
    resize: vertical;
    width: 100%;
    font: inherit;
    color: inherit;

    &.withErr {
      border: 1px solid var(--red);
    }
  }

  &.normal {
    textarea {
      padding: 23px 30px;
    }
  }

  &.small {
    textarea {
      padding: 15px 25px;
    }
  }
}
