.input {
  color: var(--text-gray-color);
  display: flex;
  flex-direction: column;
  gap: toRem(9);
  font: #{toRem(16)} / 140% var(--font-family-secondary);

  textarea::placeholder {
    color: var(--gray-2);
  }

  textarea {
    background-color: var(--bg-card-color);
    border: 1px solid var(--card-border-color);
    min-height: toRem(120);
    resize: vertical;
    width: 100%;
    font: inherit;
    color: inherit;

    &.withErr {
      border: 1px solid var(--red);
    }
  }

  &.normal {
    textarea {
      padding: toRem(20) toRem(24);
    }
  }

  &.small {
    textarea {
      padding: toRem(15) toRem(25);
    }
  }
}
