.togglerWrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  input[type="checkbox"] {
    display: none;
  }

  .toggler {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    background-color: var(--gray);

    &:before {
      content: "";
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      width: 15px;
      height: 15px;
      background-color: var(--bg-card-color);
      transition: left var(--delay) ease;
    }
  }

  input[type="checkbox"]:checked + .toggler {
    background-color: var(--accent-color);
    &:before {
      left: 17.5px;
    }
  }
}